body{
	background-color: #C9C9C9;
}

.section {
	max-width: 1300px;
	padding: 35px;
	margin: 40px auto;
	display: grid;
	gap: 3.5em 2em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-card {
	padding: 10px;
	box-shadow: 0 4px 8px 1px black;
	border: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	height: 350px;
	border-radius: 15px;
	background-color: white;
	max-width: 300px;
	font-size: 0.75em;
}

.grid-card-terminato {
	padding: 10px;
	box-shadow: 0 4px 8px 1px black;
	border: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	height: 350px;
	border-radius: 15px;
	opacity:0.7;
	background-color: white;
	max-width: 300px;
    font-size: 0.75em;
}
  
.gestione:hover{
 	cursor:pointer;
}
  

.acquista{
	padding: 1rem;
	border-top: 2px solid lightgrey;
}

.img{
	width: 180px;
}
.img img{
	width: 100%;
	height: 100%;
}

.addMessage {
	display: none;
}

.nome_prodotto {
	text-align: center;
}


.price{
	font-weight: bold;
    font-size: 1.6em;
    color: mediumseagreen;
}

.priceterminato {
	color: grey;
	font-weight: bold;
    font-size: 1.6em;
}


#img-aggiungi{
	display:flex;
    justify-content: center;
    align-items: center;
}
  
  /* bottoni */

.addtocart{
  display:block;
  padding:0.5em 1em 0.5em 1em;
  border-radius:100px;
  border:none;
  font-size:1.2em;
  position:relative;
  cursor:pointer;
  height:3em;
  width:10em;
  overflow:hidden;
  z-index:1;
}
.addtocart:hover{
  opacity: 70%;
}

.pretext{
  color:#fff;
  background: black;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: '', sans-serif;
}

.pretext-terminato{
  color:#fff;
  background: #ad0000;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: '', sans-serif;
}

  
  @keyframes myAnim{
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes hoverproduct {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}