body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '', sans-serif;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

.result{
	color: black;
	display: block;
	padding: 12px;
	margin: auto;
}

.header{
  padding: 15px;
  background-color: black;
  background-size:650px;
  position:relative;
  display:flex;
  
}

.header_filter{
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0; 
}

.logo{
	z-index:100;
	margin-left: auto;
  margin-right: auto;
}

.logo:hover{
	cursor:pointer;
}


.navbar{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: black;
  position: sticky;
  top: 0;
  z-index: 4;
  align-items: center;
  border-top: 1px solid white;
}

.icons{
  position: inherit;
  width: 16px;
  height: 16px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  display: inline-block;
}

.menu ul li .links{
  padding: 12px;
  display: block;
  color: white;
  margin:auto;
}


.menu ul li .links:hover{

  opacity: 0.7;

}

/* navbar caalogo */
.catalogo ul li{
  display: inline-block;
}

 .links{
  padding: 12px;
  display: block;
  color: white;
  font-size: 1.2rem;
}

.catalogo ul li .links:hover{
  
  opacity: 0.7;
}


.type {
	padding: 5px;
	display: none;
}


/* media query */
.nav-icon-5{
	display:none;
}
	
@media (min-width: 769px) and (max-width: 935px){
	.links{
		font-size:1rem;
		padding:5px;
	}
	
	.menu ul li .links{
		padding: 10px;
	}

}


@media (max-width:768px){

	.logo{
		margin:0 auto;
		
	}
	.logo img{
		width:100%;
	}
	
	.navbar{
		
		flex-direction:column;
	}

	
	.catalogo ul li {
		
		display:block;
		border-bottom:1px solid white;
	}
	.catalogo ul{
		overflow:hidden;
		max-height:0;
		
		
	}

	.catalogo{
		margin-top:4em;
		width:100%;
		
		
	}

	.menu{
		
		position:absolute;
		right:0;
		
	}
	

}

.flex{
  display: flex;
}



.material-icons {
	color: white;
    font-size: 40px;
  }
  
  input.search{
	height: 25px;
	width: 150px;
	border-radius: 15px;
	border:none;
	float:right;
	padding: 0px 15px 0px 15px;
	background-color: #3E3E3E;
	color:white;
}



input.search:focus{
	outline:none;
	text-decoration: none;
}
  