body{
	background-color: #C9C9C9;
	font-family: "", sans-serif;
}

.section {
  max-width: 1300px;
  padding: 25px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-card {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height:250px;
   border-radius: 15px;
}

.grid-card:hover {

  box-shadow: 0 14px 18px 0 black;
}

.titolo{
    padding: 10px;
    text-align: center;
    margin: 1% auto;

}

.grid-card p{
	font-size: 0.8em;
}
.grid-card h2{
	font-size: 1.2em;
}
.grid-card:hover { cursor: pointer;}


.icon{
  text-align: center;
  margin: 1%;
  padding: 2%;
  min-width: 80px;

}
.card-description{
  width: 80%;
  margin: 5%;
}


.wrapper{
	padding: 10px;
    text-align: center;
    margin: 30px auto;
}



button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 background-color: #000000; 
 border: 2px black solid;
 border-radius: 15px;
 color: white;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 padding: 15px 25px;
 width: 170px;
 
}

.button:hover{
 opacity: 70%;
 
}

a{
	text-decoration: none;
	color: black;
	
}
a:hover{
	opacity: 70%;
}

.material-icons {
	color: black;
    font-size: 40px;
  }

