body{
	background-color: #C9C9C9;
}

.sezione{
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5% auto;
  gap: 2rem;
    
}

.carte{
  font-family: '', sans-serif;
  box-shadow: 0 4px 8px 0 black;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	background-color: white;
}
.aggiungi{
    flex-direction:column;
      justify-content: space-evenly;
	display:flex;
	justify-content:center;
	align-items:center;
      border-color: lightgray;
}



@media (max-width:768px){
  .sezione{
    grid-template-columns: 1fr;
  }
}

@media (min-width:769px) and (max-width:900px){
  .sezione{
    grid-template-columns: 1fr 1fr;
  }
}


.button {
 font-family: '', sans-serif;
 position: relative;
 cursor: pointer;
 background-color: #000000; 
 border: 2px black solid;
 border-radius: 15px;
 color: white;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 padding: 15px 25px;
 width: 150px;
 
}

.button:hover{
 opacity: 70%;
 
}


